body{
    font-family:Poppins;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #26c58f;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 26px;
}

.container{
  margin-left: 300px;
  margin-right: 6px;
  overflow: hidden;
  
}


.card-body{
  background-color: #e7e3e336;
}



.carousel-inner,img{
    max-height: 300px;
    width: auto;
    object-fit: cover;
}

nav.menu-lateral{
  position: fixed;
  width: 250px;
  height: 100%;
  padding: 0px 0 0px 1%;
  margin-right: 5%;
  margin-top: -20px;
}

ul{
  height: 100%;
  list-style-type: none;
  margin-left: -45px;
  background-color: #1f7e55;
  margin-top: 21px;
  height: 100%;
  width: 255px;
  border: 2px solid black;
}

ul li.item-menu{
  transition: .2s;
}

ul li.item-menu:hover{
  background:rgb(10, 235, 223) ;
}

ul li.item-menu a{
  color: white;
  text-decoration:none;
  font-size:20px;
  padding:20px 4%;
  display: flex;
  margin-bottom: 20px;
  line-height: 40px;
}

ul li.item-menu a .txt-link{
  margin-left:10px ;
}

ul li .item-menu a .icon > i{
  font-size: 40px;
}

/*Página 01*/
.card{
  height: 400px;
  width: 100%;
}